body {
    min-width: 1000px;  
    padding-bottom: 60px;
    font-family: "Arial";
    background-color: slategray;
    margin: 0;
    padding: 50px;

}
.start {
    padding-top: 100px;
}
.graphs {
    margin: auto;
}
a {
    text-decoration: none;
}
p {
    font-size: 18px;
    color: white;
    float: left;
    margin: 0;
    padding: 10px;
}
.row {
    display:inline-block;
}
.pivot {
    display: inline-block;
}
.end {
    padding-bottom: 100px;
}
.last {
    padding-top: 400px;
}
h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: white;
}
.bottom {
    border: 1px solid white;
}
h2 {
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
h4 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 0;
}
#link {
    color: darkblue;
}
.cite {
    color: darkblue;
}
ul {
    float: left;
    list-style-type: none;
}
h3 {
    float: left;
    color: white;
    font-size: 40px;
    margin: 0;
    padding-left: 10px;
    padding-top: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

